@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-geist: 'Geist';
  --color-primary: white;
  --color-secondary: #f3f5f9;
  --color-bprimary: #e2e5e8;
  --color-tprimary: #373b40;
  --color-tsecondary: #262227;
}
